.about {
  background-color: $color-light-xl;

  &__content {
    gap: 120px;
    margin: $section-padding;
  }

  &__collumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 430px;
  }

  &__collumn-title {
    width: 370px;
    height: 90px;
  }

  &-collumn__subtitle {
    margin: 25px 0px;

    &:last-child {
      margin: 0px;
    }
  }

  &__img {
    background-image: url(../images/about-pets.svg);
    width: 300px;
    height: 408px;
  }
}