.donation {
  background: $color-light-l;

  &__content {
    max-width: 915px;
    margin: $section-padding;
    gap: $gap-medium;
    align-items: center;
  }

  &__img {
    display: flex;
    align-content: center;
    width: 505px;
    height: 261px;
  }

  &__column {
    width: 380px;
    height: 282px;
    gap: $gap-small;
  }

  &__title {
    width: 300px;
  }

  &__subheading {
    font-family: $font-family-georgia;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
  }

  &__card {
    display: flex;
    gap: 13px;
    border-radius: 9px;
    padding: 10px 15px;
    width: 349px;
    height: 43px;
    background: $color-primary;
  }

  &__subtitle {
    font-family: $font-family-arial;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: $color-dark-m;
  }
}

.card-svg {
  fill: $color-dark-3xl;
}

.card-text {
  font-family: $font-family-georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: $color-dark-l;
  transition: 1s;

  &:hover {
    color: $color-light-xl;
  }
}