.startscreen {
  gap: 90px;
  background-size: cover;
  background-image: radial-gradient(237.5% 111.8% at 0% 0%, rgb(91, 72, 58) 0%, rgb(38, 36, 37) 100%),
    url(../images/start-screen-gradient-background.svg);

  .startscreen__content-collumn {
    margin-top: 163px;
    gap: 42px;
  }

  .title-white {
    font-size: 44px;
    color: $color-light-xl;
    letter-spacing: 0em;
    width: 310px;
  }

  .startscreen__content-img {
    width: 698px;
    height: 728px;
    margin-left: 50px;
  }
}