@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin button-hover {
  transition: 0.2s;

  &:hover {
    background: $color-primary-light;
    border-color: $color-primary-light;
    cursor: pointer;
  }
}

@mixin gradient-background($gradient, $image) {
  background-size: cover;
  background-image: $gradient, url($image);
}

@mixin card-hover {
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.2);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    cursor: pointer;
  }
}